# Demand prediction baseline solution

Victor Kantor, xead.wl@gmail.com

In [1]:
import pandas as pd

train = pd.read_csv("train.tsv")
test = pd.read_csv("test.tsv")
sample_submission = pd.read_csv("sample_submission.tsv")

In [2]:
frac = 0.1 # fraction of learning examples used for model fitting

# sample the train set if your don't want to deel with all examples
train = train.sample(frac=frac, random_state=42)

X = train.drop(['Num','y'], axis=1)
y = train['y']
print (len(X), len(y))

7246 7246

In [3]:
%%time
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(n_estimators=100, max_depth=5, random_state=43)
model.fit(X, y)

preds = model.predict(test.drop(['Num'], axis=1))

print (len(preds))
print (len(sample_submission))

2016
2016
CPU times: user 8.48 s, sys: 186 ms, total: 8.67 s
Wall time: 9.38 s

In [4]:
sample_submission['y'] = preds

In [5]:
sample_submission.head(5)

      Num              y
0  348622    3098.119369
1  348623   31132.837802
2  348624  334972.050497
3  348625   40890.440505
4  348626    3098.119369

In [6]:
# In GBM you can get some negative predictions:
print (sample_submission[sample_submission['y'] < 0])

Empty DataFrame
Columns: [Num, y]
Index: []

In [7]:
sample_submission['y'] = sample_submission['y'].map(lambda x: x if x > 0 else 0.0)

In [8]:
sample_submission.to_csv("baseline_submission.tsv", sep=',', index=False)

In [9]:
train.head()

,Num,y,year,week,shift,item_id,f1,f2,f3,f4,...,f51,f52,f53,f54,f55,f56,f57,f58,f59,f60
44283,220152,160500,2014,13,1,20452327,129441.0,104610.0,121114.0,133780.0,...,95880.0,88520.0,107270.0,79610.0,99210.0,114561.0,93790.0,98070.0,83980.0,105240.0
50871,253360,13107,2014,23,1,20441989,4162.0,6760.0,7210.0,11330.0,...,9932.0,8908.0,10464.0,7431.0,10334.0,11548.0,8698.0,8696.0,8160.0,7570.0
13810,66191,53402,2013,21,3,20438706,24931.0,30338.0,30690.0,37930.0,...,34475.0,22390.0,27124.0,29660.0,30105.0,28054.0,31545.0,28185.0,34890.0,28790.0
10062,48676,9676,2013,15,2,20438591,11505.0,13550.0,15360.0,14750.0,...,10920.0,14030.0,8060.0,8430.0,9980.0,13930.0,6340.0,7810.0,8960.0,10260.0
37186,183929,1336,2014,3,2,20449525,0.0,0.0,0.0,0.0,...,2090.0,2470.0,1145.0,2955.0,3915.0,740.0,2260.0,1403.0,1417.0,980.0

In [17]:
import numpy as np
def smape(x, y):
    return np.mean( abs(x-y) / (abs(x)-abs(y)) * 2 )

array([2, 3])